In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('age_salary.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
X = dataset.iloc[:, [2, 3]].values                 # Age , Salary
X.shape

(400, 2)

In [4]:
y = dataset.iloc[:, 4].values                      # Purchased
y.shape

(400,)

In [5]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=0)

In [6]:
Xtrain.shape

(320, 2)

In [7]:
Xtest.shape

(80, 2)

In [8]:
classifier = SVC(kernel = 'linear', random_state = 0)

In [ ]:
classifier.fit(Xtrain, ytrain);

In [ ]:
classifier.predict(Xtest)[0:5]

In [ ]:
classifier.score(Xtest, ytest)